@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Avenir';
    font-display: swap;
    src: url("../../fonts/Avenir-Black.woff2");
    src: local("O"), url("../../fonts/Avenir-Black.woff") format("woff"),
        url("../../fonts/Avenir-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    font-display: swap;
    src: url("../../fonts/Avenir-Book.woff2");
    src: local("O"), url("../../fonts/Avenir-Book.woff") format("woff"),
        url("../../fonts/Avenir-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    font-display: swap;
    src: url("../../fonts/Gilroy-Regular.woff2");
    src: local("O"), url("../../fonts/Gilroy-Regular.woff") format("woff"),
        url("../../fonts/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    font-display: swap;
    src: url("../../fonts/Gilroy-Bold.woff2");
    src: local("O"), url("../../fonts/Gilroy-Bold.woff") format("woff"),
        url("../../fonts/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    font-display: swap;
    src: url("../../fonts/Satoshi-Bold.woff2");
    src: local("O"), url("../../fonts/Satoshi-Bold.woff") format("woff"),
        url("../../fonts/Satoshi-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    font-display: swap;
    src: url("../../fonts/Inter-Regular.woff2");
    src: local("O"), url("../../fonts/Inter-Regular.woff") format("woff"),
        url("../../fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    font-display: swap;
    src: url("../../fonts/Inter-Medium.woff2");
    src: local("O"), url("../../fonts/Inter-Medium.woff") format("woff"),
        url("../../fonts/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

//======fonts

$prefix: artem- !default;
$fontAvenir: "Avenir";
$fontGilroy: "Gilroy";
$fontSatoshi: "Satoshi";
$fontInter: "Inter";
$fontOpenSans: "Open Sans";

$path: "../../images/";

//=======colors

$white: #fff;
$black: #000;
$orange: #EA7462;
$orangeHover: #d8614f;
$gray: #FFE2D2;
$whiteF9: #F9F9F9;
$whiteBg: #F5F5F5;
$grayHead: #5C5C5C;
$grayHeadHover: #3e3c3c;
$whiteBorder: #E6E6E6;
$grayLog: #080808;
$orangeE3:#E36F2D;
$grayE5: #E5e5e5;
$grayE4: #E4E6F1;
$darkBlue: #160042;
$grayTr: #6B7094;
$whiteF3: #cbd1e3;
$darkBlue28: #282556;
$black07: #07090D;
$whiteE7: #c5c7c9;
$gray4F: #4F4F4F;
$lightOrange: #FFE2D2;
$gray1F: #1F2937;
$gray37: #374151;

$colors :(
    "white": $white,
    "black": $black,
    "orange": $orange,
    "gray": $gray,
    "whiteF9": $whiteF9,
    "whiteBg": $whiteBg,
    "grayHead": $grayHead,
    "whiteBorder": $whiteBorder,
    "grayLog": $grayLog,
    "orangeE3": $orangeE3,
    "grayE5": $grayE5,
    "darkBlue": $darkBlue,
    "grayTr": $grayTr,
    "whiteF3": $whiteF3,
    "grayE4": $grayE4,
    "darkBlue28": $darkBlue28,
    "black07": $black07,
    "whiteE7": $whiteE7,
    "gray4F": $gray4F,
    "lightOrange": $lightOrange,
    "gray1F": $gray1F,
    "gray37": $gray37,
    "grayHeadHover": grayHeadHover,
    "orangeHover": $orangeHover,
)!default;