.video{
    width: 1060px;
    margin: auto;
    font-family: var(--#{$prefix}font-inter);
    margin-bottom: 235px;

    &__flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__head{
        display: flex;
        margin-bottom: 50px;
    }

    &__h2{
        width: 510px;
        margin-right: 40px;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.48px;
        color: var(--#{$prefix}color-gray-1f);

        &_orange{
            color: var(--#{$prefix}color-orange-e3);
        }
    }

    &__p{
        width: 510px;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.054px;
        color: var(--#{$prefix}color-gray-37);
    }

    &__play{
        width: 100%;
        height: 568px;

        & > iframe{
            width: 100%;
            height: 100%;
        }
    }
}